// 
// Base
// --------------------------------------------------
body
  font-size: $font-size-base // 14px
  color: $color-text
  background: linear-gradient(90deg, $color-bg, $color-sub-bg)
  font-family: '-apple-system', 'SF UI Text', 'Arial', 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', 'WenQuanYi Micro Hei', 'sans-serif'

::-webkit-scrollbar-track-piece
  background-color: $color-bg

::-webkit-scrollbar
  width: 8px

::-webkit-scrollbar-thumb
  border-radius: 4px
  background-color: rgba(37, 37, 37, 0.753)

*
  padding: 0
  margin: 0
  box-sizing: border-box

a
  text-decoration: none
  color: $color-text-l

li
  list-style: none

.clear-fix
  &::after
    content: ''
    display: table
    clear: both