// 
// border
// --------------------------------------------------

border-1px($color = $color-border, $radius = 2px, $style = solid)
  &::after
    content: ''
    absolute: left top
    display: block
    size: 100%
    border: 1PX $style $color
    box-sizing: border-box
    border-radius: $radius
    transform-origin: 0 0
    size: 200%
    border-radius: $radius * 2
    transform: scale(0.5)

// border-bottom-1px
border-bottom-1px($color = $color-border, $left = 0, $right = 0)
  &::after
    content: ''
    absolute: left $left right $right bottom 0
    height: 1PX
    background: $color
    transform: scaleY(0.5)

// border-top-1px
border-top-1px($color = $color-border, $left = 0, $right = 0)
  &::after
    content: ''
    absolute: left $left right $right top 0
    height: 1PX
    background: $color
    transform: scaleY(0.5)

// border-left-1px
border-left-1px($color = $color-border, $top = 0, $bottom = 0)
  &::after
    content: ''
    absolute: top $top bottom $bottom left 0
    width: 1PX
    background: $color
    transform: scaleX(0.5)

// border-right-1px
border-right-1px($color = $color-border, $top = 0, $bottom = 0)
  &::after
    content: ''
    absolute: top $top bottom $bottom right 0
    width: 1PX
    background: $color
    transform: scaleX(0.5)