// 
// Mixins
// --------------------------------------------------

// 以下声明是为了写 display: flex 不会弹出警告 https://github.com/stylus/nib/issues/312
flex-version = flex
support-for-ie = false
vendor-prefixes = official

@import '~nib/index'
@import 'border.styl'

btn-active()
  position: relative

  &::before
    content: ''
    absolute: top left right bottom
    background: $black
    opacity: 0

  &:active::before
    opacity: 0.1

text()
  overflow: hidden
  text-overflow: ellipsis
  white-space: nowrap