// 
// Variables
// --------------------------------------------------

// ## Color
$white = #fff
$black = #000
$color-text = #ebebeb
$color-text-l = #9e9e9e
$color-border = #ebedf0
$color-bg = #080e13
$color-sub-bg = #021524
$color-overlay = rgba(0, 0, 0, 0.6)
$color-link = #1989fa
$color-theme = #f6325b
$color-hover = #16232c
// ## Font
$font-size-large-x = 18px
$font-size-large = 16px
$font-size-base = 14px
$font-size-small = 12px
// ## transition-time
$transition-time = 0.3s
// ## width
$width-modal = 85%
// ## padding
$padding-base = 10px
$padding-large = 16px
// ## borde-radius
$border-radius-base = 5px
$border-radius-small = 2px
// ## line-height
$line-height = 24px